// WIDTH
$max-width: 38rem;

// FONT
$font: 400 1.6rem/1.7 "Poppins" , "sans-serif";

// COLORS
$color-primary: #48c9b0;
$color-primary-dark: #17a589;

$color-secondary: #1a96e9;

$color-gray: #777;

$color-white: #fff;
$color-black: #000;